<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Inventário Mercadinho - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
</head>

<body>


	<div id="app" class="container-fluid table" >
	<a href="/mercado/index.html">Voltar</a>
	
		<h4>Lista de Produtos</h4>
		
		<table>
		  <tr>
			<th>Nome</th>
			<th>Fabricante</th>
			<th>Volume</th>
			<th>Unidade</th>
			<th>Estoque</th>
			<th></th>
			<th></th>
		  </tr>
		  
		   
		  <tbody  id="event-table" >
		  
			<tr v-for="produto in listaProdutos"> 
			
			  <td v-show="visivel">{{ produto.nome }}</td> 
			  <td v-show="visivel">{{ produto.fabricante.nome }}</td> 
			  <td v-show="visivel">{{ produto.volume }}</td> 
			  <td v-show="visivel">{{ produto.unidade }}</td> 
			  <td v-show="visivel">{{ produto.estoque }}</td> 
 	  
			</tr>
			<form @submit.prevent="test" > 
			       <td> <input required="required" id="input-1"v-model="produto.nome"/></td>
			       <td> <input required="required" id="input-2" v-model="produto.fabricante.nome"/></td>
			       <td> <input required="required" id="input-2" type="number" v-model.number="produto.volume"/></td>
			       <td> <input required="required" id="input-2" type="number" v-model.number="produto.unidade"/></td>
			       <td> <input required="required" id="input-2" type="number" v-model.number="produto.estoque"/></td>
				   <td> <b-button @click="adicionarProduto(produto)" variant="primary">Adicionar Novo Produto</b-button> </td>
			    </form>   
		  </tbody> 
		  
		</table>
		
		
	  </div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/novo-produto.js"></script>
</body>
</html>